[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
keras = "*"
django = "*"
numpy = "*"
pillow = "*"
django-crispy-forms = "*"
pytz = "*"
flask = "*"
psycopg2-binary = "*"
django-storages = "*"
boto3 = "*"
gunicorn = "*"
whitenoise = "*"
selenium = "*"
jupyter = "*"

[dev-packages]

[requires]
python_version = "3.9"
